/*Set the poster width to 100 for uniformality*/ 
#movies img, #movie img {
    width: 100%;
}
/*Make app adaptable to different dimensions*/
@media(min-width:960px){
    #movies .col-md-3 .well {
        height: 390px;  
    }   
    #movies .col-md-3 img {
        height: 300px;
    }
}
/*Make the "MoviNerd App" button follow you while you scroll*/
.btn {
    position: sticky;
    top: 0;
}